#display {
    width: 100%;
    height: 98vh;
    position: relative;
}

.left, .right{
    position: absolute;
    display: inline-block;
    height: 68vh;
    top: 25vh;
}

.left{
    left: 0;
}

.right{
    left: 70%;
}

#keyframe{
    position: absolute;
    top:1vh;
    width: 100%;
    height: 17vh;
}